# Flights Brasil

In [19]:
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.window import Window

In [109]:
class OverlapDetector:
    """Class to detect overlaps in a DataFrame using PySpark"""

    def __init__(self):
        self.spark = SparkSession.builder.appName("OverlapDetector").getOrCreate()

    def open_file(self, file: str):
        """
        Opens the file and returns a Spark DataFrame.
        
        Parameters:
        file (str): Path to the file to open.
        encoding (str): File encoding format.

        Returns:
        DataFrame: Spark DataFrame with the file's data.
        """
        data = self.spark.read.csv(file, header=True, inferSchema=True, encoding='utf-8')
        return data

    def filter_data_by_year(self, data, date_column: str, year_value: int):
        """
        Filters data by the given year.
        
        Parameters:
        data (DataFrame): Spark DataFrame.
        date_column (str): The name of the column containing date information.
        year_value (int): Year to filter the data by.

        Returns:
        DataFrame: Spark DataFrame filtered by the given year.
        """
        data = data.withColumn("year", F.year(F.col(date_column)))
        data_year = data.filter(F.col("year") == year_value)
        return data_year

    def detect_overlap(self, sample, start_column: str, end_column: str):
        """
        Detects overlaps in the Spark DataFrame using lag function.
        
        Parameters:
        sample (DataFrame): Spark DataFrame with the conditioned and filtered flight data.
        start_column (str): The name of the column containing the start time.
        end_column (str): The name of the column containing the end time.

        Returns:
        DataFrame: DataFrame with overlap details.
        """
        window_spec = Window.orderBy(start_column)
        
        # Lagging the start and end columns
        sample = sample.withColumn("prev_start", lag(start_column).over(window_spec))
        sample = sample.withColumn("prev_end", lag(end_column).over(window_spec))
        
        # Filtering where there is an overlap
        overlap_condition = (col(start_column) < col("prev_end")) & (col(end_column) > col("prev_start"))
        overlaps = sample.filter(overlap_condition)
        
        return overlaps

In [33]:
detector = OverlapDetector()

In [34]:
file="./vuelos_brasil.csv"

In [35]:
data = detector.open_file(file)

In [37]:
data = data.withColumn(f"`{date_column}`", F.to_timestamp(F.col(f"`{date_column}`")))
data = data.withColumn(f"`{start_column}`", F.to_timestamp(F.col(f"`{start_column}`")))
data = data.withColumn(f"`{end_column}`", F.to_timestamp(F.col(f"`{end_column}`")))

In [52]:
original_columns = data.columns
new_columns = [col.replace('.', '_') for col in original_columns]

# Renombrar las columnas
for original, new in zip(original_columns, new_columns):
    data = data.withColumnRenamed(original, new)

In [53]:
data.show()

+---------+--------------------+-----------------+-------------------+--------------------+-------------------+--------------------+------------+--------------------+----------------+--------------------+-------------+--------------+-----------------+--------------------+--------------+--------------+-----------+-----------+-----------+-----------+-------------------+-------------------+-------------------+
|     Voos|     Companhia_Aerea|Codigo_Tipo_Linha|   Partida_Prevista|        Partida_Real|   Chegada_Prevista|        Chegada_Real|Situacao_Voo|Codigo_Justificativa|Aeroporto_Origem|       Cidade_Origem|Estado_Origem|   Pais_Origem|Aeroporto_Destino|      Cidade_Destino|Estado_Destino|  Pais_Destino|   LongDest|    LatDest|   LongOrig|    LatOrig| `Partida_Prevista`|     `Partida_Real`|     `Chegada_Real`|
+---------+--------------------+-----------------+-------------------+--------------------+-------------------+--------------------+------------+--------------------+----------------+--------------------+-------------+--------------+-----------------+--------------------+--------------+--------------+-----------+-----------+-----------+-----------+-------------------+-------------------+-------------------+
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-30 08:58:00|2016-01-30T08:58:00Z|2016-01-30 10:35:00|2016-01-30T10:35:00Z|   Realizado|                  NA|     Afonso Pena|Sao Jose Dos Pinhais|           PR|        Brasil|    Salgado Filho|        Porto Alegre|            RS|        Brasil|-51.1753811|-29.9934732|-49.1724811|-25.5327132|2016-01-30 08:58:00|2016-01-30 08:58:00|2016-01-30 10:35:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-13 12:13:00|2016-01-13T12:13:00Z|2016-01-13 21:30:00|2016-01-13T21:30:00Z|   Realizado|                  NA|   Salgado Filho|        Porto Alegre|           RS|        Brasil|            Miami|               Miami|           N/I|Estados Unidos|-80.2870457|  25.795865|-51.1753811|-29.9934732|2016-01-13 12:13:00|2016-01-13 12:13:00|2016-01-13 21:30:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-29 12:13:00|2016-01-29T12:13:00Z|2016-01-29 21:30:00|2016-01-29T21:30:00Z|   Realizado|                  NA|   Salgado Filho|        Porto Alegre|           RS|        Brasil|            Miami|               Miami|           N/I|Estados Unidos|-80.2870457|  25.795865|-51.1753811|-29.9934732|2016-01-29 12:13:00|2016-01-29 12:13:00|2016-01-29 21:30:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-19 12:13:00|2016-01-18T12:03:00Z|2016-01-19 21:30:00|2016-01-18T20:41:00Z|   Realizado|LIBERACAO SERV. T...|   Salgado Filho|        Porto Alegre|           RS|        Brasil|            Miami|               Miami|           N/I|Estados Unidos|-80.2870457|  25.795865|-51.1753811|-29.9934732|2016-01-19 12:13:00|2016-01-18 12:03:00|2016-01-18 20:41:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-30 12:13:00|2016-01-30T12:13:00Z|2016-01-30 21:30:00|2016-01-30T21:30:00Z|   Realizado|                  NA|   Salgado Filho|        Porto Alegre|           RS|        Brasil|            Miami|               Miami|           N/I|Estados Unidos|-80.2870457|  25.795865|-51.1753811|-29.9934732|2016-01-30 12:13:00|2016-01-30 12:13:00|2016-01-30 21:30:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-03 23:05:00|2016-01-03T23:05:00Z|2016-01-04 07:50:00|2016-01-04T07:50:00Z|   Realizado|                  NA|           Miami|               Miami|          N/I|Estados Unidos|      Afonso Pena|Sao Jose Dos Pinhais|            PR|        Brasil|-49.1724811|-25.5327132|-80.2870457|  25.795865|2016-01-03 23:05:00|2016-01-03 23:05:00|2016-01-04 07:50:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-05 23:05:00|2016-01-05T23:35:00Z|2016-01-06 07:50:00|2016-01-06T08:35:00Z|   Realizado|LIBERACAO SERV. T...|           Miami|               Miami|          N/I|Estados Unidos|      Afonso Pena|Sao Jose Dos Pinhais|            PR|        Brasil|-49.1724811|-25.5327132|-80.2870457|  25.795865|2016-01-05 23:05:00|2016-01-05 23:35:00|2016-01-06 08:35:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-18 12:13:00|2016-01-18T13:09:00Z|2016-01-18 21:30:00|2016-01-18T22:24:00Z|   Realizado| CONEXAO DE AERONAVE|   Salgado Filho|        Porto Alegre|           RS|        Brasil|            Miami|               Miami|           N/I|Estados Unidos|-80.2870457|  25.795865|-51.1753811|-29.9934732|2016-01-18 12:13:00|2016-01-18 13:09:00|2016-01-18 22:24:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-22 23:05:00|2016-01-22T23:05:00Z|2016-01-23 07:50:00|2016-01-23T07:50:00Z|   Realizado|                  NA|           Miami|               Miami|          N/I|Estados Unidos|      Afonso Pena|Sao Jose Dos Pinhais|            PR|        Brasil|-49.1724811|-25.5327132|-80.2870457|  25.795865|2016-01-22 23:05:00|2016-01-22 23:05:00|2016-01-23 07:50:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-15 23:05:00|2016-01-15T23:55:00Z|2016-01-16 07:50:00|2016-01-16T08:28:00Z|   Realizado|ATRASOS NAO ESPEC...|           Miami|               Miami|          N/I|Estados Unidos|      Afonso Pena|Sao Jose Dos Pinhais|            PR|        Brasil|-49.1724811|-25.5327132|-80.2870457|  25.795865|2016-01-15 23:05:00|2016-01-15 23:55:00|2016-01-16 08:28:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-10 08:58:00|2016-01-10T10:22:00Z|2016-01-10 10:35:00|2016-01-10T11:31:00Z|   Realizado| CONEXAO DE AERONAVE|     Afonso Pena|Sao Jose Dos Pinhais|           PR|        Brasil|    Salgado Filho|        Porto Alegre|            RS|        Brasil|-51.1753811|-29.9934732|-49.1724811|-25.5327132|2016-01-10 08:58:00|2016-01-10 10:22:00|2016-01-10 11:31:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-24 12:13:00|2016-01-24T12:13:00Z|2016-01-24 21:30:00|2016-01-24T21:30:00Z|   Realizado|                  NA|   Salgado Filho|        Porto Alegre|           RS|        Brasil|            Miami|               Miami|           N/I|Estados Unidos|-80.2870457|  25.795865|-51.1753811|-29.9934732|2016-01-24 12:13:00|2016-01-24 12:13:00|2016-01-24 21:30:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-05 08:58:00|2016-01-05T08:58:00Z|2016-01-05 10:35:00|2016-01-05T10:35:00Z|   Realizado|                  NA|     Afonso Pena|Sao Jose Dos Pinhais|           PR|        Brasil|    Salgado Filho|        Porto Alegre|            RS|        Brasil|-51.1753811|-29.9934732|-49.1724811|-25.5327132|2016-01-05 08:58:00|2016-01-05 08:58:00|2016-01-05 10:35:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-18 08:58:00|2016-01-18T10:54:00Z|2016-01-18 10:35:00|2016-01-18T12:08:00Z|   Realizado| CONEXAO DE AERONAVE|     Afonso Pena|Sao Jose Dos Pinhais|           PR|        Brasil|    Salgado Filho|        Porto Alegre|            RS|        Brasil|-51.1753811|-29.9934732|-49.1724811|-25.5327132|2016-01-18 08:58:00|2016-01-18 10:54:00|2016-01-18 12:08:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-31 08:58:00|2016-01-31T08:58:00Z|2016-01-31 10:35:00|2016-01-31T10:35:00Z|   Realizado|                  NA|     Afonso Pena|Sao Jose Dos Pinhais|           PR|        Brasil|    Salgado Filho|        Porto Alegre|            RS|        Brasil|-51.1753811|-29.9934732|-49.1724811|-25.5327132|2016-01-31 08:58:00|2016-01-31 08:58:00|2016-01-31 10:35:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-26 23:05:00|2016-01-26T23:16:00Z|2016-01-27 07:50:00|2016-01-27T08:22:00Z|   Realizado|ATRASOS NAO ESPEC...|           Miami|               Miami|          N/I|Estados Unidos|      Afonso Pena|Sao Jose Dos Pinhais|            PR|        Brasil|-49.1724811|-25.5327132|-80.2870457|  25.795865|2016-01-26 23:05:00|2016-01-26 23:16:00|2016-01-27 08:22:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-12 08:58:00|2016-01-12T08:58:00Z|2016-01-12 10:35:00|2016-01-12T10:35:00Z|   Realizado|                  NA|     Afonso Pena|Sao Jose Dos Pinhais|           PR|        Brasil|    Salgado Filho|        Porto Alegre|            RS|        Brasil|-51.1753811|-29.9934732|-49.1724811|-25.5327132|2016-01-12 08:58:00|2016-01-12 08:58:00|2016-01-12 10:35:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-07 12:13:00|2016-01-07T12:13:00Z|2016-01-07 21:30:00|2016-01-07T21:30:00Z|   Realizado|                  NA|   Salgado Filho|        Porto Alegre|           RS|        Brasil|            Miami|               Miami|           N/I|Estados Unidos|-80.2870457|  25.795865|-51.1753811|-29.9934732|2016-01-07 12:13:00|2016-01-07 12:13:00|2016-01-07 21:30:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-21 23:05:00|2016-01-21T23:05:00Z|2016-01-22 07:50:00|2016-01-22T07:50:00Z|   Realizado|                  NA|           Miami|               Miami|          N/I|Estados Unidos|      Afonso Pena|Sao Jose Dos Pinhais|            PR|        Brasil|-49.1724811|-25.5327132|-80.2870457|  25.795865|2016-01-21 23:05:00|2016-01-21 23:05:00|2016-01-22 07:50:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-29 23:05:00|2016-01-29T23:05:00Z|2016-01-30 07:50:00|2016-01-30T07:50:00Z|   Realizado|                  NA|           Miami|               Miami|          N/I|Estados Unidos|      Afonso Pena|Sao Jose Dos Pinhais|            PR|        Brasil|-49.1724811|-25.5327132|-80.2870457|  25.795865|2016-01-29 23:05:00|2016-01-29 23:05:00|2016-01-30 07:50:00|
+---------+--------------------+-----------------+-------------------+--------------------+-------------------+--------------------+------------+--------------------+----------------+--------------------+-------------+--------------+-----------------+--------------------+--------------+--------------+-----------+-----------+-----------+-----------+-------------------+-------------------+-------------------+
only showing top 20 rows

## Data exploration

In [38]:
data.printSchema()

root
 |-- Voos: string (nullable = true)
 |-- Companhia.Aerea: string (nullable = true)
 |-- Codigo.Tipo.Linha: string (nullable = true)
 |-- Partida.Prevista: timestamp (nullable = true)
 |-- Partida.Real: string (nullable = true)
 |-- Chegada.Prevista: timestamp (nullable = true)
 |-- Chegada.Real: string (nullable = true)
 |-- Situacao.Voo: string (nullable = true)
 |-- Codigo.Justificativa: string (nullable = true)
 |-- Aeroporto.Origem: string (nullable = true)
 |-- Cidade.Origem: string (nullable = true)
 |-- Estado.Origem: string (nullable = true)
 |-- Pais.Origem: string (nullable = true)
 |-- Aeroporto.Destino: string (nullable = true)
 |-- Cidade.Destino: string (nullable = true)
 |-- Estado.Destino: string (nullable = true)
 |-- Pais.Destino: string (nullable = true)
 |-- LongDest: double (nullable = true)
 |-- LatDest: double (nullable = true)
 |-- LongOrig: double (nullable = true)
 |-- LatOrig: double (nullable = true)
 |-- `Partida.Prevista`: timestamp (nullable = true)
 |-- `Partida.Real`: timestamp (nullable = true)
 |-- `Chegada.Real`: timestamp (nullable = true)

In [45]:
type(data)

pyspark.sql.dataframe.DataFrame

In [39]:
data.show(5)

+---------+--------------------+-----------------+-------------------+--------------------+-------------------+--------------------+------------+--------------------+----------------+--------------------+-------------+-----------+-----------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+-------------------+-------------------+-------------------+
|     Voos|     Companhia.Aerea|Codigo.Tipo.Linha|   Partida.Prevista|        Partida.Real|   Chegada.Prevista|        Chegada.Real|Situacao.Voo|Codigo.Justificativa|Aeroporto.Origem|       Cidade.Origem|Estado.Origem|Pais.Origem|Aeroporto.Destino|Cidade.Destino|Estado.Destino|  Pais.Destino|   LongDest|    LatDest|   LongOrig|    LatOrig| `Partida.Prevista`|     `Partida.Real`|     `Chegada.Real`|
+---------+--------------------+-----------------+-------------------+--------------------+-------------------+--------------------+------------+--------------------+----------------+--------------------+-------------+-----------+-----------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+-------------------+-------------------+-------------------+
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-30 08:58:00|2016-01-30T08:58:00Z|2016-01-30 10:35:00|2016-01-30T10:35:00Z|   Realizado|                  NA|     Afonso Pena|Sao Jose Dos Pinhais|           PR|     Brasil|    Salgado Filho|  Porto Alegre|            RS|        Brasil|-51.1753811|-29.9934732|-49.1724811|-25.5327132|2016-01-30 08:58:00|2016-01-30 08:58:00|2016-01-30 10:35:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-13 12:13:00|2016-01-13T12:13:00Z|2016-01-13 21:30:00|2016-01-13T21:30:00Z|   Realizado|                  NA|   Salgado Filho|        Porto Alegre|           RS|     Brasil|            Miami|         Miami|           N/I|Estados Unidos|-80.2870457|  25.795865|-51.1753811|-29.9934732|2016-01-13 12:13:00|2016-01-13 12:13:00|2016-01-13 21:30:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-29 12:13:00|2016-01-29T12:13:00Z|2016-01-29 21:30:00|2016-01-29T21:30:00Z|   Realizado|                  NA|   Salgado Filho|        Porto Alegre|           RS|     Brasil|            Miami|         Miami|           N/I|Estados Unidos|-80.2870457|  25.795865|-51.1753811|-29.9934732|2016-01-29 12:13:00|2016-01-29 12:13:00|2016-01-29 21:30:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-19 12:13:00|2016-01-18T12:03:00Z|2016-01-19 21:30:00|2016-01-18T20:41:00Z|   Realizado|LIBERACAO SERV. T...|   Salgado Filho|        Porto Alegre|           RS|     Brasil|            Miami|         Miami|           N/I|Estados Unidos|-80.2870457|  25.795865|-51.1753811|-29.9934732|2016-01-19 12:13:00|2016-01-18 12:03:00|2016-01-18 20:41:00|
|AAL - 203|AMERICAN AIRLINES...|    Internacional|2016-01-30 12:13:00|2016-01-30T12:13:00Z|2016-01-30 21:30:00|2016-01-30T21:30:00Z|   Realizado|                  NA|   Salgado Filho|        Porto Alegre|           RS|     Brasil|            Miami|         Miami|           N/I|Estados Unidos|-80.2870457|  25.795865|-51.1753811|-29.9934732|2016-01-30 12:13:00|2016-01-30 12:13:00|2016-01-30 21:30:00|
+---------+--------------------+-----------------+-------------------+--------------------+-------------------+--------------------+------------+--------------------+----------------+--------------------+-------------+-----------+-----------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+-------------------+-------------------+-------------------+
only showing top 5 rows

In [41]:
data.head()

Row(Voos='AAL - 203', Companhia.Aerea='AMERICAN AIRLINES INC', Codigo.Tipo.Linha='Internacional', Partida.Prevista=datetime.datetime(2016, 1, 30, 8, 58), Partida.Real='2016-01-30T08:58:00Z', Chegada.Prevista=datetime.datetime(2016, 1, 30, 10, 35), Chegada.Real='2016-01-30T10:35:00Z', Situacao.Voo='Realizado', Codigo.Justificativa='NA', Aeroporto.Origem='Afonso Pena', Cidade.Origem='Sao Jose Dos Pinhais', Estado.Origem='PR', Pais.Origem='Brasil', Aeroporto.Destino='Salgado Filho', Cidade.Destino='Porto Alegre', Estado.Destino='RS', Pais.Destino='Brasil', LongDest=-51.1753811, LatDest=-29.9934732, LongOrig=-49.1724811, LatOrig=-25.5327132, `Partida.Prevista`=datetime.datetime(2016, 1, 30, 8, 58), `Partida.Real`=datetime.datetime(2016, 1, 30, 8, 58), `Chegada.Real`=datetime.datetime(2016, 1, 30, 10, 35))

In [54]:
data.describe().show()

+-------+----------+--------------------+-----------------+--------------------+--------------------+------------+--------------------+--------------------+--------------------+-------------+-------------+--------------------+--------------------+--------------+-------------+------------------+-------------------+-------------------+-------------------+
|summary|      Voos|     Companhia_Aerea|Codigo_Tipo_Linha|        Partida_Real|        Chegada_Real|Situacao_Voo|Codigo_Justificativa|    Aeroporto_Origem|       Cidade_Origem|Estado_Origem|  Pais_Origem|   Aeroporto_Destino|      Cidade_Destino|Estado_Destino| Pais_Destino|          LongDest|            LatDest|           LongOrig|            LatOrig|
+-------+----------+--------------------+-----------------+--------------------+--------------------+------------+--------------------+--------------------+--------------------+-------------+-------------+--------------------+--------------------+--------------+-------------+------------------+-------------------+-------------------+-------------------+
|  count|   2542519|             2542519|          2542519|             2542519|             2542519|     2542519|             2542519|             2542519|             2542519|      2542519|      2542519|             2542519|             2542519|       2542519|      2542519|           2542519|            2542519|            2542519|            2542519|
|   mean|      NULL|                NULL|             NULL|                NULL|                NULL|        NULL|                NULL|                NULL|                NULL|         NULL|         NULL|                NULL|                NULL|          NULL|         NULL|-46.45361843838266|-17.186818327953198|-46.452155983526566|-17.166907454110437|
| stddev|      NULL|                NULL|             NULL|                NULL|                NULL|        NULL|                NULL|                NULL|                NULL|         NULL|         NULL|                NULL|                NULL|          NULL|         NULL|10.517998004821479| 12.271525338993955| 10.518537699178825| 12.272367064856757|
|    min|AAL - 1265|AEROLINEAS ARGENT...|    Internacional|2014-12-31T01:03:00Z|2014-12-31T03:00:00Z|   Cancelado|ABASTECIMENTO/DES...|Ab Dhabi Internat...|Ab Dhabi Internat...|           AC|Africa Do Sul|Ab Dhabi Internat...|Ab Dhabi Internat...|            AC|Africa Do Sul|        -118.40853|         -58.253037|         -118.40853|         -58.253037|
|    max| UAL - 979|     US AIRWAYS INC.|         Regional|                  NA|                  NA|   Realizado|   TROCA DE AERONAVE|             Zurique|             Zurique|           TO|    Venezuela|             Zurique|             Zurique|            TO|    Venezuela|        55.3656728|         52.3105386|         55.3656728|         52.3105386|
+-------+----------+--------------------+-----------------+--------------------+--------------------+------------+--------------------+--------------------+--------------------+-------------+-------------+--------------------+--------------------+--------------+-------------+------------------+-------------------+-------------------+-------------------+

In [56]:
conteo_situacao_voo = data.groupBy("Situacao_Voo").count()
conteo_situacao_voo.orderBy(F.desc("count")).show()

+------------+-------+
|Situacao_Voo|  count|
+------------+-------+
|   Realizado|2253323|
|   Cancelado| 289196|
+------------+-------+

In [57]:
conteo_Companhia_Aerea = data.groupBy("Companhia_Aerea").count()
conteo_Companhia_Aerea.orderBy(F.desc("count")).show()

+--------------------+------+
|     Companhia_Aerea| count|
+--------------------+------+
|                 GOL|759191|
|                AZUL|742495|
|                 TAM|554099|
|      AVIANCA BRASIL|183913|
|           PASSAREDO| 70436|
|AMERICAN AIRLINES...| 22975|
|COPA -COMPANIA PA...| 21034|
|    TAP AIR PORTUGAL| 18878|
|AEROLINEAS ARGENT...| 16522|
|   MAP LINHAS AEREAS| 15675|
|     UNITED AIRLINES|  9269|
|           LAN CHILE|  9141|
|      DELTA AIRLINES|  9054|
|AUSTRAL LINEAS Aï¿½...|  8941|
|                SETE|  7720|
|          AIR FRANCE|  6819|
|TRASAMERICA  AIRL...|  5660|
|            EMIRATES|  5646|
|             AVIANCA|  5553|
|           LUFTHANSA|  4974|
+--------------------+------+
only showing top 20 rows

In [58]:
conteo_Pais_Origem = data.groupBy("Pais_Origem").count()
conteo_Pais_Origem.orderBy(F.desc("count")).show()

+--------------------+-------+
|         Pais_Origem|  count|
+--------------------+-------+
|              Brasil|2382839|
|           Argentina|  35864|
|      Estados Unidos|  31700|
|               Chile|  11943|
|              Panama|  10516|
|            Portugal|   9643|
|             Uruguai|   6514|
|                Peru|   6342|
|             Espanha|   5405|
|              Franca|   4350|
|            Colombia|   4121|
|            Alemanha|   3919|
|            Paraguai|   3231|
|              Italia|   2972|
|         Reino Unido|   2885|
|Emirados Arabes U...|   2715|
|              Mexico|   2172|
|             Bolivia|   2037|
|Republica Dominicana|   1893|
|             Holanda|   1725|
+--------------------+-------+
only showing top 20 rows

In [59]:
conteo_Pais_Destino = data.groupBy("Pais_Destino").count()
conteo_Pais_Destino.orderBy(F.desc("count")).show()

+--------------------+-------+
|        Pais_Destino|  count|
+--------------------+-------+
|              Brasil|2382826|
|           Argentina|  35893|
|      Estados Unidos|  31482|
|               Chile|  12069|
|              Panama|  10518|
|            Portugal|   9655|
|             Uruguai|   6530|
|                Peru|   6390|
|             Espanha|   5402|
|              Franca|   4353|
|            Colombia|   4139|
|            Alemanha|   3916|
|            Paraguai|   3228|
|              Italia|   2970|
|         Reino Unido|   2890|
|Emirados Arabes U...|   2715|
|              Mexico|   2199|
|             Bolivia|   2039|
|Republica Dominicana|   1891|
|             Holanda|   1726|
+--------------------+-------+
only showing top 20 rows

## Implemento la clase

In [110]:
year_value = 2015
date_column = "Partida_Prevista"
start_column = "Partida_Real"
end_column = "Chegada_Real"

In [111]:
data_year = detector.filter_data_by_year(data, date_column, year_value)

In [112]:
sample = data_year.select("Voos", date_column, start_column, end_column, "Situacao_Voo")

In [114]:
overlaps = detector.detect_overlap(sample, start_column, end_column)

In [115]:
overlaps.show()

+----------+-------------------+--------------------+--------------------+------------+--------------------+--------------------+
|      Voos|   Partida_Prevista|        Partida_Real|        Chegada_Real|Situacao_Voo|          prev_start|            prev_end|
+----------+-------------------+--------------------+--------------------+------------+--------------------+--------------------+
|AZU - 4100|2015-01-01 02:27:00|2014-12-31T02:15:00Z|2014-12-31T03:00:00Z|   Realizado|2014-12-31T01:03:00Z|2014-12-31T07:17:00Z|
|GLO - 1844|2015-01-01 00:00:00|2015-01-01T00:00:00Z|2015-01-01T02:50:00Z|   Realizado|2014-12-31T23:59:00Z|2015-01-01T00:48:00Z|
| AAL - 214|2015-01-01 00:01:00|2015-01-01T00:01:00Z|2015-01-01T07:45:00Z|   Realizado|2015-01-01T00:00:00Z|2015-01-01T02:50:00Z|
|TAM - 8053|2015-01-01 00:05:00|2015-01-01T00:05:00Z|2015-01-01T08:22:00Z|   Realizado|2015-01-01T00:01:00Z|2015-01-01T07:45:00Z|
|TAM - 3557|2015-01-01 00:05:00|2015-01-01T00:05:00Z|2015-01-01T01:45:00Z|   Realizado|2015-01-01T00:05:00Z|2015-01-01T08:22:00Z|
| TAP - 102|2015-01-01 00:05:00|2015-01-01T00:05:00Z|2015-01-01T09:00:00Z|   Realizado|2015-01-01T00:05:00Z|2015-01-01T01:45:00Z|
| UAL - 860|2015-01-01 00:05:00|2015-01-01T00:05:00Z|2015-01-01T09:45:00Z|   Realizado|2015-01-01T00:05:00Z|2015-01-01T09:00:00Z|
| CMP - 216|2015-01-01 00:09:00|2015-01-01T00:09:00Z|2015-01-01T07:24:00Z|   Realizado|2015-01-01T00:05:00Z|2015-01-01T09:45:00Z|
|  DAL - 59|2015-01-01 00:11:00|2015-01-01T00:11:00Z|2015-01-01T09:50:00Z|   Realizado|2015-01-01T00:09:00Z|2015-01-01T07:24:00Z|
|GLO - 7731|2015-01-01 00:15:00|2015-01-01T00:15:00Z|2015-01-01T07:15:00Z|   Realizado|2015-01-01T00:11:00Z|2015-01-01T09:50:00Z|
|TAM - 3322|2015-01-01 00:15:00|2015-01-01T00:15:00Z|2015-01-01T03:35:00Z|   Realizado|2015-01-01T00:15:00Z|2015-01-01T07:15:00Z|
| QTR - 772|2015-01-01 00:20:00|2015-01-01T00:20:00Z|2015-01-01T03:00:00Z|   Realizado|2015-01-01T00:15:00Z|2015-01-01T03:35:00Z|
| AAL - 963|2015-01-01 00:20:00|2015-01-01T00:20:00Z|2015-01-01T10:25:00Z|   Realizado|2015-01-01T00:20:00Z|2015-01-01T03:00:00Z|
| CMP - 759|2015-01-01 00:22:00|2015-01-01T00:22:00Z|2015-01-01T07:20:00Z|   Realizado|2015-01-01T00:20:00Z|2015-01-01T10:25:00Z|
|  TAP - 16|2015-01-01 00:25:00|2015-01-01T00:25:00Z|2015-01-01T08:00:00Z|   Realizado|2015-01-01T00:22:00Z|2015-01-01T07:20:00Z|
|GLO - 2078|2015-01-01 00:30:00|2015-01-01T00:30:00Z|2015-01-01T03:20:00Z|   Realizado|2015-01-01T00:25:00Z|2015-01-01T08:00:00Z|
| AAL - 973|2015-01-01 00:30:00|2015-01-01T00:30:00Z|2015-01-01T10:46:00Z|   Realizado|2015-01-01T00:30:00Z|2015-01-01T03:20:00Z|
|TAM - 3350|2015-01-01 00:05:00|2015-01-01T00:35:00Z|2015-01-01T03:55:00Z|   Realizado|2015-01-01T00:30:00Z|2015-01-01T10:46:00Z|
|TAM - 8035|2015-01-01 00:35:00|2015-01-01T00:35:00Z|2015-01-01T08:50:00Z|   Realizado|2015-01-01T00:35:00Z|2015-01-01T03:55:00Z|
|  THY - 16|2015-01-01 00:55:00|2015-01-01T00:36:00Z|2015-01-01T02:05:00Z|   Realizado|2015-01-01T00:35:00Z|2015-01-01T08:50:00Z|
+----------+-------------------+--------------------+--------------------+------------+--------------------+--------------------+
only showing top 20 rows

In [117]:
overlap_count = overlaps.count()

print(f"Total number of overlaps: {overlap_count}")

Total number of overlaps: 941593